{
  "manifest_version": 3,
  "name": "spotify-scores",
  "version": "1.0.0",
  "description": "A Chrome extension to interact with Spotify and display additional album information",
  "permissions": ["storage", "activeTab"],
  "host_permissions": ["https://my-backend-origin.dev/*"],
  "content_scripts": [
    {
      "matches": ["https://open.spotify.com/*"],
      "js": ["config.js", "content.js"]
    }
  ],
  "icons": {
    "128": "images/spotify.png"
  }
}